@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&family=Syne:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

:root {
  --bg-main: #0b1220;
  --bg-card: #0f172a;
  --bg-elevated: #111827;

  --border: #1f2937;

  --text-primary: #e5e7eb;
  --text-secondary: #9ca3af;
  --text-muted: #6b7280;

  --accent: #3b82f6;
  --accent-soft: rgba(59, 130, 246, 0.15);

  --hover: #111827;
}

@theme {
  --color-card: var(--bg-card);
  --color-border: var(--border);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-muted: var(--text-muted);
  --color-accent: var(--accent);
  --color-accentSoft: var(--accent-soft);
  --color-hover: var(--hover);
}
